<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>detail.html</h1>

    {% if not error %}
      query={{ query }}
      <ul>

      <li>word = {{query.word}}</li>
      <li>pronunciation = {{query.pronunciation}}</li>
      <li>type = {{query.type}}</li>

      {% if query.meaning_set.all %}
        {% for item in query.meaning_set.all %}
        <ul>
          <li>{{ item }}</li>
        </ul>
        {% endfor %}
      {% else %}
        <p>No meanings are available</p>
      {% endif %}

    </ul>
    {% else %}
      {{ error }}
    {% endif %}

  </body>
</html>
